.idea/
*.sqlite3

*~
*.swp
*.swo
*.swn

/migrations/*.pyc

*/__pycache__/*

/logs/*.log

/static/*

/media/*

*.pyc
*.pyo
__pycache__/*
/node_modules/*

settings.py
secret_key.py
/settings/local_settings.py

# Macos
.DS_Store

dataset/